<mat-toolbar color="primary">
  <ul class="">
    <li class="">
      <a class="toolbar-link toolbar-text-size revans-font" routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Home</a>
    </li>

    <li class="">
      <a class="toolbar-link toolbar-text-size revans-font" routerLink="/posts" routerLinkActive="active-link">Posts</a>
    </li>

    <li class="">
      <a class="toolbar-link toolbar-text-size revans-font" routerLink="/calculator" routerLinkActive="active-link">Mortgage Calculator</a>
    </li>
  </ul>
</mat-toolbar>
