<mat-toolbar color="primary">
  <ul class="">
    <li class="">
      <a mat-raised-button color="primary" class="toolbar-link toolbar-text-size revans-font" routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Home</a>
    </li>

    <li class="">
      <a mat-raised-button color="primary" class="toolbar-link toolbar-text-size revans-font" routerLink="/posts" routerLinkActive="active-link">Posts</a>
    </li>

    <li *ngIf="userIsAuthenticated" class="">
      <a mat-raised-button color="primary" class="toolbar-link toolbar-text-size revans-font" routerLink="/post/add" routerLinkActive="active-link">Add Post</a>
    </li>

    <li class="">
      <a mat-raised-button color="primary" class="toolbar-link toolbar-text-size revans-font" routerLink="/calculator" routerLinkActive="active-link">Mortgage Calculator</a>
    </li>
  </ul>
  <span class="toolbar-spacer"></span>
  <ul class="">
    <li class="">
      <a mat-raised-button class="btn btn-info toolbar-link toolbar-text-size revans-font" routerLink="/guide" routerLinkActive="active-link">Guide</a>
    </li>
    <li *ngIf="!userIsAuthenticated" class="">
      <a mat-raised-button class="btn btn-success toolbar-link toolbar-text-size revans-font" routerLink="/login" routerLinkActive="active-link">Login</a>
    </li>
    <li *ngIf="!userIsAuthenticated" class="">
      <a mat-raised-button class="btn btn-secondary toolbar-link toolbar-text-size revans-font" routerLink="/signup" routerLinkActive="active-link">Sign Up</a>
    </li>
    <li *ngIf="userIsAuthenticated" class="">
      <a mat-raised-button class="btn btn-danger toolbar-link toolbar-text-size revans-font" (click)="onLogout()">Logout</a>
    </li>
  </ul>
</mat-toolbar>
