<div [class.container.justify-content-center]="updateSpecificPost">
  <div *ngIf="updateSpecificPost" class="text-center mb-4">
    <h1>Update Post</h1>
  </div>

  <div *ngIf="!updateSpecificPost" class="text-center mb-4">
    <h1>Add Post</h1>
  </div>

  <mat-card class="mb-5">
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <form *ngIf="!isLoading" [formGroup]="postForm" (ngSubmit)="savePost()">
      <mat-card-content>
        <label for="title">Title:</label>
        <input formControlName="title" type="text" id="title" class="form-control px-1">
        <mat-error *ngIf="postFormSubmitted && postF.title.invalid"><span>Title is required</span></mat-error>
      </mat-card-content>

      <mat-card-content>
        <label for="content">Content:</label>
        <textarea formControlName="content" name="content" id="content" cols="30" rows="10" class="form-control px-1"></textarea>
        <mat-error *ngIf="postFormSubmitted && postF.content.invalid"><span>Content is required</span></mat-error>
      </mat-card-content>

      <mat-card-content>
        <label for="imageUpload">Image Upload:</label>
        <br>
        <button mat-raised-button color="primary" type="button" name="imageUpload" id="imageUpload" (click)="filePicker.click()">Browse Files</button>
        <input type="file" accept="image/*" #filePicker (change)="onImageSelected($event)">
        <div *ngIf="imagePreview !== '' && imagePreview">
          <img class="image-preview" [src]="imagePreview" [alt]="postForm.value.title">
        </div>
        <br>
        <mat-error *ngIf="postFormSubmitted && postF.image.errors.required"><span>Image Upload is required</span></mat-error>
      </mat-card-content>

      <div class="mt-4">
        <button mat-raised-button type="submit" class="btn btn-success"><span>Save Post</span></button>
        <button *ngIf="updateSpecificPost" mat-raised-button type="button" class="btn btn-danger" routerLink="/posts"><span>Cancel</span></button>
      </div>
    </form>
  </mat-card>
</div>
