/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.atom-font {
  font-family: "a Atmospheric";
}

.perm-marker-font {
  font-family: "Permanent Marker";
}

.revans-font {
  font-family: "Revans Medium";
  letter-spacing: 1px;
}

.reem-font {
  font-family: "Reem Kufi";
}

.text-small {
  font-size: 125%;
  padding: 0.6em;
}

.text-medium {
  font-size: 200%;
  padding: 0.6em;
}

.text-large {
  font-size: 300%;
  padding: 0.6em;
}

.text-xlarge {
  font-size: 450%;
  padding: 0.6em;
}
